* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

a {
    text-decoration: none;
}
.header {
    width:100%;
    margin-top: 22px;
    display: flex;
    flex-direction: column;

}
.header-block {
    width: 1599px;
    margin-left: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-info {
    display: flex;
    align-items: center;

}
.header-info-button {
    display: flex;
    text-align: center;
    align-items: center;
    width: 213px;
    height: 50px;
    border-radius: 100px;
    margin-left: 50px;
    background-color: #FFD600;
    border: none;
}

.button-icon {
    margin-left: 20px;
}
.button-text{
    margin-left: 15px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.header-info-p{
    margin-left: 50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.header-body {
    width: 1920px;
    margin-top: 22px;

}


.header-body-info {
    margin-top: 100px;
    width: 100%;
    margin-left: 160px;

}
.header-body-info-p1 {
    width: 1220px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: left;
    color:  #2A3848;
;
}


.header-body-info-p2 {
    width: 571px;
    color: #687186;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

.header-body-button {
    background-color: #FFD600;
    width: 290.94px;
    height: 65.5px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    border: none;

}

.header-body-button-p {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color: #333845;
    margin-left: auto;
    margin-right: auto;


}
.section1-info1{
    width: 100%;

}

.section1-block1 {
    width: 1628.6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 160px;
    margin-top: 100px;
}

.section1-icon-block {
    display: flex;
    width: 63px;
    height: 62.77px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FFD600;

}
.section1-info1 {
    width: 430.11px;
    height: 122.62px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;

}
.section1-info2 {
    width: 439.39px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;


}.section1-info3 {
     width: 488.6px;
     display: flex;
     flex-wrap: wrap;
     margin-top: 100px;


 }.section1-info4 {
      width: 430.11px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;



  }

.section1-p1 {
    font-family: Inter;
    font-size: 19px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #333845;
}

.section1-p2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color:  #687186;
}

.section1-text1 {
    width: 196.4px;
    margin-top: 5px;
}

.section1-text2 {
    width: 314.51px;
    margin-top: 20px;

}

.section1-text3 {
    width: 209.4px;
    margin-top: 5px;
}

.section1-text4 {
    width: 352.78px;
    margin-top: 20px;

}
.section1-text5 {
    width: 218.4px;
    margin-top: 5px;

}
.section1-text6 {
    width: 402px;
    margin-top: 20px;

}
.section1-text7 {
    width: 226.4px;
    margin-top: 5px;

}
.section1-text8 {
    width: 343.51px;
    margin-top: 20px;
}

.section1-text9 {
    width: 222.4px;
    margin-top: 5px;

}
.section1-text10 {
    width: 352.78px;
    margin-top: 20px;

}
.section1-text11 {
    width: 218.4px;
    margin-top: 5px;

}.section1-text12 {
     width: 402px;
     margin-top: 20px;

 }

.section1-block2 {
    width: 1600px;
    margin-top: 100px;
    margin-left: 160px;
    border-radius: 30px;
    background-color:#F8F8F8;
    border-radius: 30px;

}

.section1-block2{
    width: 1600px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}



.section1-content1-body p:hover{
    background: #FFD600;
    border-radius: 10px;
    transition: 1s;
}

.section1-head h1 {
    width: 286px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #333845;
    margin-top: 50px;
    margin-left: 50px;

}

.section2-border{
    height: 1px;
    width: 1478.46px;
    border-radius: 3px;
    background-color: #DDEBF9;
    margin-top: 30px;
    margin-left: 50px;

}
.section1-content1 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.section1-body {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.section1-content1-body1 {

    width: 173px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #333845;
    margin-top: 10px;
}
.section1-content1-body2 {
    width: 210px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #333845;
    margin-top: 10px;
}
.section1-content1-body3 {
    width: 230px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #333845;
    margin-top: 10px;

}.section1-content1-body4 {
     width: 187px;
     font-family: Segoe UI;
     font-size: 16px;
     font-weight: 400;
     line-height: 40px;
     letter-spacing: 0em;
     text-align: left;
     color: #333845;
     margin-top: 10px;

 }.section1-content1-body5 {
      width: 231px;
      font-family: Segoe UI;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      color: #333845;
      margin-top: 10px;
      margin-right: 50px;
  }

.section1-content1-head {
    display: flex;
}

.section1-content1-head-block {
    display: flex;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;

}
.section1-content1-head-icon {
    width: 24px;
    height: 24px;
}

.section1-content1-head-h2 {
    margin-left: 20px;
    margin-top:10px;
}
.section2{
    width: 100%;
    position: relative;
}
.section2-block1 {
    display: flex;
    margin-left: 160px;
    width: 795px;
    flex-direction: column;
    margin-top: 100px;

}

.section2-block1 h1{
    width: 439px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #333845;

}
.section2-block1 p{
    width: 794px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.section2-block2-info {
    width: 1760px;
    background-color: #2A3848;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 100px;
    padding-bottom: 180px;
}

.section2-block2-info {
    display: flex;
    flex-direction: column;
}


.section2-block2-info-text p{
    width: 861px;
    margin-top: 25px;
    margin-left: 160px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color:rgba(255, 255, 255, 0.7);
}

.section2-block2-info h1 {
    width: 345px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-left: 160px;
    margin-top: 100px;

}

.section2-block2 img {
    display: flex;
    position: absolute;
    right: 0;
    top: 280px;

}

.section3 {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.section3-block1 {
    width: 1600px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.section3-block1-info {
    margin-left: 30px;
}
.section3-block1-info h1 {
    width: 461px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 56, 69, 1);


}

.section3-block1-info p {
    width: 535px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(51, 56, 69, 1);
    margin-top: 10px;

}

.section3-block2-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.section3-block2-card {
    display: flex;
    flex-wrap: wrap;
    width: 501.96px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgba(244, 244, 244, 1);
    border-radius: 20px;
}

.section3-block2-number {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    background-color:rgba(255, 214, 0, 1);
    color: rgba(42, 56, 72, 1);
    margin-top: 30px;
    margin-left: 30px;
}

.section3-block2-card h1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(42, 56, 72, 1);
    margin-top: 40px;
    margin-left: 30px;

}

.section3-block2-card p {
    width: 392px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(78, 87, 98, 1);
    margin-left: 30px;
    padding-bottom: 30px;
}

.section3-block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 748px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 150px;
}

.section3-block3 h1 {
    font-family: Inter;
    font-size: 34px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    width: 748px;
    color: rgba(51, 56, 69, 1);

}

.section3-block3  p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    width: 370px;
    color: rgba(104, 113, 134, 1);
    margin-top: 20px;
}

.section3-block3 button{
    margin-top: 40px;
    width: 319.67px;
    height: 57.17px;
    border-radius: 100px;
    background-color: rgba(255, 214, 0, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(51, 56, 69, 1);
}

.botton-block2 {
    display: flex;
}


.botton {
    display: flex;
    background-color: rgba(39, 47, 55, 1);
    margin-top: 200px;
    padding-bottom: 70px;
    width: 100%;
}

.botton-block1 {
    display: flex;
    flex-direction: column;
    margin-left: 160px;

}

.botton-block1 img{
    width: 166px;
    height: 34.48px;
    margin-top: 50px;

}

.botton-block1 p{
    width: 222px;
    font-family: Segoe UI;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(145, 148, 152, 1);
    margin-top: 30px;

}

.botton-block1-li {
    display: flex;
    justify-content: space-between;
    width: 1127.81px;
    margin-top: 50px;
    margin-left: 150px;

}

.botton-block1-p {
    display: flex;

}
.botton-block1-p {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.botton-block1-p p:last-child {
    margin-left: 100px;
}

.botton-block1-li p {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-right: 60px;
}

.body-info {
    display: flex;
    flex-direction: column;
}

.botton-border {
    display: flex;
    width: 1127.81px;
    height: 1px;
    background-color: rgba(59, 69, 79, 1);
    margin-left: 150px;
    margin-top: 20px;

}

.body-info2 {
    margin-top: 25px;
    margin-left: 150px;
}

.body-info3 {
    margin-top: 25px;

}
.body-info2 p {
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(145, 148, 152, 1);

}

.body-info3 p {
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(145, 148, 152, 1);
    margin-left: 110px;
}

.botton-block3 p {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(145, 148, 152, 1);
}

.botton-block3 button {
    width: 196.98px;
    height: 50px;
    background-color: rgba(255, 214, 0, 1);
    border-radius: 100px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(51, 56, 69, 1);
    margin-top: 10px;
}

.botton-block3 h2 {
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
}

.botton-block-icon {
    display: flex;
    margin-top: 20px;
}

.botton-block-icon div {
    display: flex;
    background-color: rgba(51, 60, 70, 1);
    width: 36.96px;
    height: 36.96px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.botton-block-icon div:last-child{
    margin-left: 10px;
}
.botton-block-icon div:nth-child(2){
    margin-left: 10px;
}
.botton-block3 {
    margin-left: 290px;
    margin-top: 40px;
}

.down {
    display: flex;
    background-color: rgba(29, 38, 48, 1);
    width: 100%;
}

.down-block1 {
    display: flex;
    width: 428px;
    margin-left: 250px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.down-block1 p{

    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(145, 148, 152, 1);


}

.down-block1 p:last-child {
    margin-left: 10px;
}

.down-block2 {
    display: flex;
    margin-top: 30px;
    margin-left: 800px;
}

.down-block2 p {
    width: 106px;
    height: 24px;
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(145, 148, 152, 1);
}

.down-block2 div:last-child {
    margin-left: 10px;
}