<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
                
    <link rel="stylesheet" href="./style/global.css">
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/section1.css">
    <link rel="stylesheet" href="./style/section2.css">
    <link rel="stylesheet" href="./style/section3.css">
    <link rel="stylesheet" href="./style/botton.css">
    <title>Old Programm</title>
</head>
<body>
    <div>
        <div class="header">
            <div class="header-block">
                <div class="header-info">
                    <img src="../../icons/header-logo.svg" alt="">
                    <button class="header-info-button">
                        <img class="button-icon" src="../../icons/menus 1.svg" alt="">
                        <p class="button-text">Все направления</p>
                        </button>
                    <p class="header-info-p">О сервисе</p>
                    <p class="header-info-p">FAQ</p>
                    <p class="header-info-p">Поддержка</p>
                    <p class="header-info-p">Сотрудничество</p>
                    <p class="header-info-p">Контакты</p>
                </div>
                <div>
                    <img src="../../icons/search-header.svg" alt="">
                </div>
            </div>
            <div class="header-body">
                
                <div class="header-body-info">
                        <h1 class="header-body-info-p1">
                            Мы занимаемся рейтингом проверенных компаний
                        </h1>
                                          
                   <p class="header-body-info-p2">
                    Инструмент для выбора проверенных компаний в интернете, в разных направлениях бизнеса.
                   </p>
                   <button class="header-body-button">
                    <p class="header-body-button-p">
                        Выбрать направление
                    </p>
                 </button>
                </div>
                <div>

                </div>
            </div>
            <div>

            </div>
        </div>
        <div class="section1">
            <div class="section1-block1">
                <div class="section1-info1">
                    <div class="section1-icon-block">
                        <img src="../../icons/trophy (1) 1.svg" alt="">
                    </div>
                    <div style="margin-left: 20px;">
                        <p class="section1-p1 section1-text1">
                        5 лет непрерывной работы
                 
                    </p>
                    <p class="section1-p2 section1-text2">
                        Рейтинги публикуются ежегодно, начиная с 2017 года.

                    </p>

                    </div>
                    
                </div>
                <div class="section1-info2">
                    <div class="section1-icon-block">
                        <img src="../../icons/star 1.svg" alt="">
                    </div>
                    <div style="margin-left: 20px;">
                        <p class="section1-p1 section1-text3">
                        №1 по популярности в сегменте

                    </p>
                    <p class="section1-p2 section1-text4">
                        Самая высокая посещаемость среди аналогичных площадок.

                    </p>
                    </div>
                    
                </div>
                <div class="section1-info3">
                    <div class="section1-icon-block">
                        <img src="../../icons/Group.svg" alt="">
                    </div>
                    <div style="margin-left: 20px;">
                        <p class="section1-p1 section1-text5">
                        25 основных рейтинга и 1 242 локальных

                    </p>
                    <p class="section1-p2 section1-text6">
                        Детальные срезы по тематикам, типам проектов, бизнесу клиентов и географии.

                    </p>
                    </div>
                    
                </div>
                <div class="section1-info4">
                    <div class="section1-icon-block">
                        <img src="../../icons/Group (1).svg" alt="">
                    </div>
                    <div style="margin-left: 20px;">
                        <p class="section1-p1 section1-text7">
                        Понятная и прозрачная методология

                    </p>
                    <p class="section1-p2 section1-text8">
                        Все рейтинги строятся на реальных данных, которые вносят сами компании.

                    </p>
                    </div>
                
                </div>
                <div class="section1-info2">
                    <div class="section1-icon-block">
                        <img src="../../icons/Group (2).svg" alt="">
                    </div>
                    <div style="margin-left: 20px;">
                        <p class="section1-p1 section1-text9">
                        Независимость и не аффилированность

                    </p>
                    <p class="section1-p2 section1-text10">
                        Рейтинговый проект полностью независимый в интернете

                    </p>
                    </div>
                
                </div>
                <div class="section1-info3">
                    <div class="section1-icon-block">
                        <img src="../../icons/Layer_1.svg" alt="">
                    </div>
                    <div style="margin-left: 20px;">
                        <p class="section1-p1 section1-text11">
                        Самый большой региональный охват

                    </p>
                    <p class="section1-p2 section1-text12">
                        Участвуют компании из 101 города 5 стран.

                    </p>
                    </div>
                 </div>
                    
            </div>
            <div class="section1-block2">
                <div class="section1-head">
                    <h1>Популярные направления</h1>
                    <div class="section2-border"></div>
                </div>

                <div class="section1-body">
                    <div class="section1-content1">
                        <div class="section1-content1-head">
                            <div class="section1-content1-head-block">
                                <img class="section1-content1-head-icon" src="../../icons/shopping-bag 2.svg" alt="">
                            </div>
                            <h2 class="section1-content1-head-h2">Торговля</h2>

                        </div>
                        <div class="section1-content1-body1">
                            <p>Агрегаторы</p>
                            <p>Бытовая техника</p>
                            <p>Двери</p>
                            <p>Дрогери</p>
                            <p>Зоотовары</p>
                            <p>Канцтовары</p>
                            <p>Керамическая плитка</p>
                            <p>Климатическая техника</p>
                    </div>
                    </div class="section1-body">
                    <div class="section1-content1">
                        <div class="section1-content1-head">
                            <div class="section1-content1-head-block">
                                <img class="section1-content1-head-icon" src="../../icons/checklist 2.svg" alt="">
                            </div>
                            <h2 class="section1-content1-head-h2">Услуги</h2>

                        </div>
                        <div class="section1-content1-body2">
                            <p>Грузоперевозки и логистика</p>
                            <p>Digital маркетинг</p>
                            <p>Маркетинг и реклама</p>
                            <p>Недвижимость</p>
                            <p>Печать и самопроизводство</p>
                            <p>Ремонт бытовой техники</p>
                            <p>Ремонт автомобилей</p>
                            <p>Юристпруденция</p>
                        </div>
                    </div class="section1-body">
                    <div class="section1-content1">
                        <div class="section1-content1-head">
                            <div class="section1-content1-head-block">
                                <img class="section1-content1-head-icon" src="../../icons/stethoscope 1.svg" alt="">
                            </div>
                            <h2 class="section1-content1-head-h2">Здоровье</h2>

                        </div>
                        <div class="section1-content1-body3">
                            <p>Фармацевтика</p>
                            <p>Диетическое питание и фитнес</p>
                            <p>Женское здоровье</p>
                            <p>Мужское здоровье</p>
                            <p>Стоматологические услуги</p>
                            <p>Здоровье детей</p>
                           
                        </div>
                    </div class="section1-body">
                    <div class="section1-content1">
                        <div class="section1-content1-head">
                            <div class="section1-content1-head-block">
                                <img class="section1-content1-head-icon" src="../../icons/location 1.svg" alt="">
                            </div>
                            <h2 class="section1-content1-head-h2">Путешествия и туризм</h2>


                        </div>
                        <div class="section1-content1-body4">
                            <p>Авиаперевозки</p>
                            <p>Гостиничный бизнес</p>
                            <p>Наземный транспорт</p>
                            <p>Прокат автомобилей</p>
                            <p>Транспорт и экскурсии</p>
                            <p>Туристические компании</p>

                        </div>
                    </div class="section1-body">
                    <div class="section1-content1">
                        <div class="section1-content1-head">
                            
                            <div class="section1-content1-head-block">
                                <img class="section1-content1-head-icon" src="../../icons/picture 1.svg" alt="">
                            </div>
                            <h2 class="section1-content1-head-h2">Искусство</h2>

                        </div>
                        <div class="section1-content1-body5">
                            <p>Анимация и комиксы</p>
                            <p>Визуальное искусство и дизайн</p>
                            <p>Исполнительное искусство</p>
                            <p>Книги и литература</p>
                            <p>Музыка</p>
                            <p>Искусство и развлечения</p>
                            <p>Юмор</p>

                        </div>
                    </div >
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="section2-block1">
                <h1>Главная задача Rangi.ru</h1>
                <p>помочь Вам найти самое выгодное, удобное и качественное предложение. Не верите? Просто попробуйте наш сервис и не забудьте оставить отзыв о компании!</p>
            </div>
            <div class="section2-block2">
                <div class="section2-block2-info">
                    <h1>Рейтинг надежных исполнителей</h1>
                    <div class="section2-block2-info-text">
                        <p>Rangi.ru – каталог сервисных центров, объединяющий десятки тысяч компаний во всех городах России.
                        На нашем сайте Вы сможете найти ближайший к дому или офису сервисный центр, узнать время его работы и контакты, просмотреть отзывы и комментарии, а также сориентироваться по стоимости услуг.
                        </p>
                        <p>
                        Наши каталоги обновляются ежедневно, а все отзывы проходят строгую модерацию, чтобы предотвратить «накрутки» рейтинга и недобросовестную конкуренцию.
                        </p>
                        <p>
                       Каталог Rangi.ru разработан специально для жителей городов, в которых так сложно найти порядочный сервисный центр, работающий с нужным типом и брендом оборудования. С нашей помощью Вы сохраните не только деньги, но и драгоценное время – выберите вид техники, нуждающейся в осмотре, тип ремонта, укажите свое местоположение, а наш сайт покажет лучшие сервисные центры вблизи Вас.
                       </p>
                    </div>
                
                </div>
                <img src="../../images/laptop.svg" alt="">
            </div>
        </div>

        <div class="section3">
            <div class="section3-block1">
                <div class="section3-block1-info">
                    <h1>Как устроен наш рейтинг</h1>
                    <p>Сервис отзывов и рекомендаций, который помогает людям искать, находить и выбирать лучшие компании.</p>
                </div>
                <div class="section3-block2-info">
                    <div class="section3-block2-card">
                        <div class="section3-block2-number">
                            01
                        </div>
                        <h1>
                            Объективность
                        </h1>
                        <p>
                            Наш рейтинг основан на объективных критериях, таких как финансовая стабильность, репутация, инновационность и др. Мы не принимаем во внимание личные предпочтения или предвзятость.
                        </p>
                    </div>
                    <div class="section3-block2-card">
                        <div class="section3-block2-number">
                            02
                        </div>
                        <h1>Надежность</h1>
                        <p>
                            Мы используем надежные и проверенные источники информации для составления рейтинга. Это позволяет пользователям быть уверенными в достоверности предоставленных данных.
                        </p>
                    </div>
                    <div class="section3-block2-card">
                        <div class="section3-block2-number">
                            03
                        </div>
                        <h1>
                            Удобство
                        </h1>
                        <p>
                            Наш рейтинг представлен в удобном и понятном формате, который позволяет легко сравнить компании по различным параметрам. Это помогает пользователям принимать информированные решения при выборе компании.
                        </p>
                    </div>
                    <div class="section3-block2-card">
                        <div class="section3-block2-number">
                            04
                        </div>
                        <h1>
                            Информативность
                        </h1>
                        <p>
                            В нашем рейтинге мы предоставляем подробную информацию о каждой компании, включая историю, условия работы, отзывы клиентов и т.д. Это помогает пользователям получить полное представление о компании перед принятием решения.
                        </p>
                    </div>
                    <div class="section3-block2-card">
                        <div class="section3-block2-number">
                            05
                        </div>
                        <h1>
                            Независимость
                        </h1>
                        <p>
                            Мы не связаны с какой-либо компанией или отраслью, поэтому наш рейтинг является независимым и непредвзятым. Мы стремимся предоставить объективную оценку каждой компании и помочь пользователям сделать правильный выбор.
                        </p>
                    </div>
                    <div class="section3-block2-card">
                        <div class="section3-block2-number">
                            06
                        </div>
                        <h1>
                            Обратная связь
                        </h1>
                        <p>
                            Мы принимаем во внимание мнение пользователей и учитываем их отзывы при составлении рейтинга. Это позволяет нам постоянно улучшать качество предоставляемой информации и удовлетворять потребности наших пользователей.
                        </p>
                    </div>
                </div>

            </div>
            <div class="section3-block3">
                <h1>В нашем рейтинги любые сайты — от малых предприятий до глобальных корпораций</h1>
                <p>Хотите добавить свой сайт? Отправьте заявку.</p>
                <button>Подробнее о сотрудничестве</button>
            </div>
            <div>
            </div>
        </div>
        <div class="botton">
            <div class="botton-block1">
                <img src="../../icons/logo-black.svg" alt="">
                <p>Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса РФ. Чтобы получить подробную информацию о стоимости услуг, обращайтесь, пожалуйста, к администраторам клиник. «Бест Клиник» - частная клиника и платная поликлиника в Москве, больница стационар.</p>
            </div>
            <div class="body-info">
                <div class="botton-block1-li">
                    <div class="botton-block1-p">
                        <p>Сервисе</p>
                        <p>Направления</p>
                    </div>
                    <p>Поддержка</p>
                </div>
                <div class="botton-border"></div>
                <div class="botton-block2">
                    <div class="body-info2">
                        <p>
                            О сервисе
                        </p>
                        <p>
                            Вопросы и ответы
                        </p>
                        <p>
                            Контакты
                        </p>
                        <p>Партнеры</p>
                    </div>
                    <div class="body-info3">
                        <p>
                            Азартные игры
                        </p>
                        <p>
                            Потребительские услуги
                        </p>
                        <p>
                            Виды спорта
                        </p>
                        <p>
                            Государство и право
                        </p>
                        <p>
                            Дом и сад
                        </p>
                        <p>
                            Еда и напитки
                        </p>
                        <p>
                            Здоровье
                        </p>
                        <p>
                            Игры
                        </p>
                        <p>
                            Искусство и развлечения
                        </p>
                        <p>
                            Компьютеры, электроника
                        </p>
                        <p>
                            Наука и образование
                        </p>

                    </div>
                    <div class="body-info3">
                        <p>
                            Новости и блоги
                        </p>
                        <p>
                            Образ жизни
                        </p>
                        <p>
                            Питомцы и животные
                        </p>
                        <p>
                            Путешествия и туризм
                        </p>
                        <p>
                            Работа и карьера
                        </p>
                        <p>
                            Сообщество и общество
                        </p>
                        <p>
                            Справочные материалы
                        </p>
                        <p>
                            Транспортные средства
                        </p>
                        <p>
                            Тяжелая промышленность
                        </p>
                        <p>
                            Финансы
                        </p>
                        <p>
                            Хобби и досуг
                        </p>

                    </div>
                    <div class="botton-block3">
                        <p>info@rangi.ru</p>
                        <button>Отправить запрос</button>
                        <h2>Соц сети и мессенджеры</h2>
                        <div class="botton-block-icon">
                             <div>
                                <img src="../../icons/whatsapp (1) 2.svg" alt="">
                             </div>
                            
                            <div>
                                <img src="../../icons/vk-social-network-logo 1.svg" alt="">

                            </div>
                            <div>
                                <img src="../../icons/telegram 1.svg" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="down">
            <div class="down-block1">
                <p>© 2009–2023 Рейтинг сайтов «Rangi».</p>
                <p>Политика конфиденциальности </p>
            </div>
            <div class="down-block2">
                <div><p>Сайт построили в</p></div>
                <div><img src="../../icons/logo-down.svg" alt=""></div>
                
            </div>
        </div>
    </div>     
</body>
</html>